* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    padding-top: 44px;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.input-address {
    background: #ffffff;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 40px;
    flex: 0.8;
    font-size: 16px;
    background-image: url(../img/home.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
}

.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #ffffff;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
}

.button-primary {
    background: #1890FF;
    border: 1px solid #1890FF;
    color: white;
    margin-right: 10px;
}

.button-icon {
    padding-right: 5px;
}

.button-card-text {
    margin-right: 10px;
}

.buttons {
    display: flex;
    align-items: center;
}

.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #fff1b8 url(../img/promo-image.png) no-repeat right;
    border-radius: 10px;
    padding: 40px 70px;
    margin-bottom: 56px;
}

.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302c34;
}

.promo-text {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302c34;
    max-width: 500px;
}

.input-search {
    background: #ffffff;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    line-height: 24px;
    padding: 8px;
    font-size: 16px;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 35px;
    width: 300px;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.restaurant-heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}

.restaurant-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    color: #000000;
    margin-right: 30px;
}

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0;
    color: #000000;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border-radius: 7px;
    margin-bottom: 30px;
    flex-basis: 31%;
}

.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}

.card-image-restaurant {
    width: 384px;
    height: 212px;
    object-fit: cover;
}

.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-weight: 400px;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

.card-title-reg {
    font-weight: 400px;
    font-size: 24px;
    line-height: 32px;
}

.card-tag {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}

.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-info-restaurant {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.card-buttons {
    display: flex;
    align-items: center;
}

.card-price-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 30px;
}

.rating {
    margin-right: 26px;
    color: #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.card-rating {
    margin-right: 26px;
    color: #ffc107;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.price,
.category {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 32px;
}

.ingredients {
    color: #8c8c8c;
    font-size: 18px;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.price {
    margin-right: 10px;
}

.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8c8c8c;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}

.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #f5f5f5 100%);
}

.footer {
    padding: 60px 0px;
}

.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    margin-left: 35px;
    margin-right: auto;
}

.footer-link {
    display: inline-block;
    color: #595959;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
}

.footer-link:not(:last-child) {
    margin-right: 15px;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-link:not(:last-child) {
    margin-right: 21px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.is-open {
    display: flex;
}

.modal-dialog {
    max-width: 780px;
    width: 95%;
    background: #ffffff;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}

.modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.modal-body {
    margin-bottom: 52px;
}

.food-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.food-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}

.food-counter {
    display: flex;
    align-items: center;
}

.counter-button {
    width: 39px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #40a9ff;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40a9ff;
}

.counter {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 10px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-buttons {
    display: flex;
    align-items: center;
}

.modal-pricetag {
    background: #262626;
    border-radius: 5px;
    color: #ffffff;
    padding: 15px 20px;
    font-size: 20px;
    line-height: 23px;
}

.modal-auth {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.modal-auth-display {
    display: flex;
}

.button-auth-footer {
    margin-left: 600px;
}

.close-auth {
    margin-left: 640px;
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.label-auth {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.label-auth-2 {
    margin-bottom: 20px;
}

.user-name {
    display: none;
    margin-right: 40px;
    font-size: 35px;
}

.button-out {
    display: none;
    margin-left: 10px;
}

.hide {
    display: none;
}

@media (max-width: 1360px) {
    .container {
        max-width: 960px;
    }

    .promo {
        background-size: 650px;
        padding: 25px 70px;
    }

    .card-image-restaurant {
        width: 100%;
    }

    .rating {
        margin-right: 15px;
    }

    .category,
    .price {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .promo {
        background-position: right -110px center;
        padding: 30px 30px;
    }

    .promo-title {
        font-size: 34px;
    }

    .promo-text {
        font-size: 16px;
        max-width: 400px;
    }

    .card {
        flex-basis: 48%;
    }

    .footer-link {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .rating {
        flex-basis: 100%;
    }

    .card-title {
        font-size: 20px;
    }

    .card-image-restaurant {
        width: 100%;
    }

    .promo {
        background-size: 630px;
        background-position: right -225px center;
        padding: 30px 25px;
    }

    .promo-title {
        font-size: 30px;
    }

    .promo-text {
        font-size: 15px;
    }
}

@media (max-width: 578px) {
    .container {
        width: 90%;
    }

    .header {
        flex-wrap: wrap;
    }

    .input-address {
        order: 5;
        margin-top: 15px;
        flex: 1;
    }

    .section-title {
        font-size: 30px;
    }

    .card-title {
        font-size: 18px;
    }

    .promo {
        background-position: right -260px center;
        padding: 30px 20px;
    }

    .card-image {
        width: 100%;
    }

    .card-image-restaurant {
        width: 100%;
    }

    .card {
        flex-basis: 100%;
    }

    .rating {
        flex-basis: 20%;
    }

    .footer {
        padding: 30px 0px;
    }

    .footer-block {
        align-items: flex-start;
    }

    .footer-nav {
        order: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        margin-right: 15px;
        order: 1;
    }

    .social-links {
        order: 2;
    }
}

@media (max-width: 480px) {
    .promo {
        background-position: right -290px center;
    }

    .promo-title {
        font-size: 25px;
        line-height: 30px;
    }

    .promo-text {
        max-width: 330px;
    }

    .restaurant-heading {
        flex-wrap: wrap;
    }

    .card-info-restaurant {
        padding-top: 10px;
    }

    .section-heading {
        flex-wrap: wrap;
    }

    .input-search {
        margin-top: 10px;
        flex-basis: 100%;
    }

    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        order: 0;
    }

    .footer-nav {
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-link:not(:last-child) {
        margin-right: 0;
    } 
}

@media (max-width: 320px) {
    .button-text {
        display: none;
    }

    .button {
        min-height: 40px;
    }

    .promo {
        background-image: none;
    }
}